body {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0;
    padding: 0;
}

.selection {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.current-score {
    display: flex;
    justify-content: center;
    gap: 50px;
}

img {
    border-radius: 100px;
    border: 5px solid white;
}

.option {
    width: 200px;
    height: 200px;
}

.selection img:hover {
    border-color: blue;
}
